/********************************************
* CSS Styles for Deep Dive Dylan Mockup
* https://bootcamp-coders.cnm.edu/~rlewis37/dylan
*
* @author rlewis37@cnm.edu
********************************************/

/********************************************
* GLOBAL STYLES
********************************************/
h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
	font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Didact Gothic", "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
}

body {
	background-attachment: fixed;
	background-color: #004c54;
	background-position: center center;
	background-repeat: no-repeat;
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(#a6dbd7), to(#004c54));
	background: -webkit-radial-gradient(circle, #a6dbd7, #004c54);
	background: -moz-radial-gradient(circle, #a6dbd7, #004c54);
	background: -ms-radial-gradient(circle, #a6dbd7, #004c54);
	background: radial-gradient(circle, #a6dbd7, #004c54);
	position: relative;
}

main:before {
	background-attachment: fixed !important;
	background: url("../img/diamonds.png") repeat;
	content: '';
	display: block;
	height: 100%;
	left: 0;
	top: 0;
	opacity: 0.1;
	position: absolute;
	width: 100%;
	z-index: -1;
}

section {
	padding: 25px 0;
}

section#welcome {
	padding-top: 100px;
}

section#teaching {
	background: #fff;
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
}

section#advocacy {
	color: #a6dbd7;
	background-color: #000;
}

footer.footer {
	padding: 10px 0;
	color: #555;
	background: #111;
}

.jumbotron {
	border-radius: 0 !important;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.3);
	text-align: center;
	color: #fff;
	padding-left: 20px;
	padding-right: 20px;
}

@media only screen and (min-width: 768px) {
	h2 {
		font-size: 3em;
		margin-bottom: 30px;
	}

	section {
		padding: 100px 0;
	}

	section h2 {
		text-align: center;
	}

	section#welcome {
		min-height: 600px;
		padding-top: 200px;
	}
}

/********************************************
* UTILITY STYLES
********************************************/
.box-dark {
	border: 1px solid #222;
	padding: 10px 20px 20px 20px;
	margin-bottom: 10px;
	margin-top: 10px;
}

/********************************************
* QUOTE STYLES
********************************************/
blockquote {
	font-family: garamond times serif;
	font-size: 1.4em;
	font-style: italic;
	color: rgba(0,0,0,0.4);
	line-height: 1.2em;
	padding: 20px;
	margin: 40px 0;
	border-left-color: rgba(0,0,0,0.2);
}

blockquote footer {
	color: rgba(0,0,0,0.5);
}

.blockquote-reverse {
	border-right-color: rgba(0,0,0,0.2);
}

.blockquote-reverse .blockquote-dark {
	border-right-color: rgba(255,255,255,0.2);
}

.blockquote-dark {
	color: rgba(255,255,255,0.3);
	border-left-color: rgba(255,255,255,0.2);
}

.blockquote-dark footer {
	color: rgba(255,255,255,0.3);
}

.blockquote-center {
	text-align: center;
	border-left: 5px solid rgba(255,255,255, 0.15);
	border-right: 5px solid rgba(255,255,255, 0.15);
}

@media only screen and (min-width: 768px) {
	blockquote p {
		font-size: 1.5em;
		line-height: 1.2em;
	}
}


/********************************************
* Flexbox Column Height Control
* Equal height content boxes using Flexbox CSS
*
* Author: rlewis37
********************************************/
.row-flex {
	display: flex;
	flex: 1 1 auto;
}

.row-flex-wrap {
	-webkit-flex-flow: row wrap;
	align-content: flex-start;
	flex: 0;
}

.row-flex > div[class*="col-"] {
	display: flex;
	flex: 1 1 auto;
	margin: -.2px;
}

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}