/********************************************
* CSS Styles for Deep Dive Dylan Mockup
* https://bootcamp-coders.cnm.edu/~rlewis37/dylan
*
* @author rlewis37@cnm.edu
********************************************/

/********************************************
* GLOBAL STYLES
********************************************/
/*html, body {
	font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Didact Gothic", "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
}*/

main {
	padding-top: 50px;
}

/********************************************
* Flexbox Column Height Control
* Equal height content boxes using Flexbox CSS
*
* Author: rlewis37
********************************************/
.row-flex {
	display: flex;
	flex: 1 1 auto;
}

.row-flex-wrap {
	-webkit-flex-flow: row wrap;
	align-content: flex-start;
	flex: 0;
}

.row-flex > div[class*="col-"] {
	display: flex;
	flex: 1 1 auto;
	margin: -.2px;
}

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}